<%= @user.username %>

<br>
<% if !@user.characters.empty? %>
  <ul><% @user.characters.each do |character| %>
    <li><%= link_to "#{character.name}", character %> lvl. <%= character.level %></li>
  <% end %></ul>
<% end %>